body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* HEADER */
.page-header {
    background: linear-gradient(to bottom, #C00000, #ff3333);
    padding: 40px;
}

.page-header h1 {
    margin-top: 90px;
    font-size: 40px;
    color: white;
}

.page-header p {
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

/* FORM */
.feedback-container {
    padding: 50px 80px;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 400px;
    padding: 10px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #ccc;
    font-size: 16px;
}

textarea {
    width: 600px;
    height: 180px;
    resize: none;
}

/* STAR RATING */
.rating {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.star {
    font-size: 32px;
    cursor: pointer;
}

.star.active {
    color: yellow;
}

.rating-text {
    font-size: 18px;
    margin-left: 10px;
}