body {
    margin: 0;
    font-family: 'Satoshi', sans-serif;
    background-color: #ffffff;
}

/* HEADER */
.page-header {
    background: linear-gradient(to bottom, #C00000, #ff3333);
    padding: 40px;
}

.page-header h1 {
    margin-top: 90px;
    font-size: 40px;
    color: white;
}

.page-header p {
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

/* FORM */
.feedback-container {
    padding: 50px 80px;
    max-width: 800px;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 400px;
    padding: 10px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

textarea {
    width: 600px;
    height: 180px;
    resize: none;
}

/* STAR RATING */
.star {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
    color: black;
    transition: color 0.2s ease;
}

/* Hovered stars */
.star.hover {
    color: #f4c430;
}

/* Selected stars */
.star.selected {
    color: #e0a800;
}

.rating {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating-text {
    font-size: 18px;
    margin-left: 10px;
}

.submit-btn {
    margin-top: 40px;
    font-size: 16px;
    width: fit-content;
    padding: 12px 28px;
    background: #C00000;
    color: #ffffff;
    border: 1px solid #C00000;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 200px;  
    margin-bottom: 40px;
}

.submit-btn:hover {
    background: #ffffff;
    color: #C00000;    
    border: 1px solid #C00000;
}

/* ==========================
   FONTS
========================== */
@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi-Regular.otf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi-Bold.otf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi-BlackItalic.otf') format('woff2');
    font-weight: 900;
    font-style: italic;
}
