/* ==========================
   FOOTER
========================== */
.site-footer {
    padding: 15px 0; /* 15px top & bottom */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px; /* hide initially below screen */
    left: 50%;
    transform: translateX(-50%);
    width: min(100%, 1400px);
    background: #FF3838;
    color: #fff;
    font-size: 14px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 1000;
    transition: bottom 0.3s ease; /* smooth slide */
}

.site-footer a,
.site-footer span {
    font-family: 'Satoshi', sans-serif;
    color: #FFF1CB;
    text-decoration: none;
    margin: 0 8px;
    white-space: nowrap;
    transition: color 0.3s;
}

.site-footer a:hover {
    color: #ffffff;
}

/* ==========================
   FONTS
========================== */
@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi-Regular.otf') format('woff2');
    font-weight: 400;
    font-style: normal;
}
