@media (max-width: 768px) {
  .container {
    padding: 0 10px; /* reduce side padding on small screens */
  }
}

.site-footer {
    position: fixed;             /* fix at bottom */
    bottom: 0;                   /* stick to bottom */
    left: 0;
    width: 100%;
    z-index: 1000;               /* stay above content */
    padding: 20px;
    text-align: center;
    background: linear-gradient(to bottom, #CBCBCB, #EEEEEE);
    font-size: 14px;
}



.site-footer a {
    text-decoration: none;  
    color: #7A7A73;
    margin: 0 8px;
}

.site-footer span {
  color: #7A7A73;
}
