html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;

  display: flex;
  flex-direction: column;
}

.container {
  width: min(95%, 1500px);
  margin: 0 auto;
  box-sizing: border-box;

  flex: 1; /* pushes footer down */
  display: flex;
  flex-direction: column;

  background: #fff;
}


/* Hero */
.hero {
    height: 400px;
    background-image: url(../../img/ethan-hu-NRTptNBkLLw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between; /* space between text and buttons */
    align-items: center;
    padding: 0 80px; /* left and right padding */
    box-sizing: border-box;
}

.hero-text h1 {
    font-size: 64px;      /* big welcome text */
    color: #ffffff;       /* white for contrast */
    margin: 0;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.hero-buttons button {
    padding: 14px 44px;
    border: 2px solid #ffffff;
    background: linear-gradient(to bottom, #C00000, #ff3333);
    cursor: pointer;
    color: #ffffff;
    border-radius: 15px;
    font-size: 18px;
    transition: all 0.3s;   /* smooth hover effect */
}

/* Combine hover properties */
.hero-buttons button:hover {
    background: #ffffff;    /* box turns white */
    color: #C00000;         /* text turns maroon */
}


/* Featured */
.featured {
    background: #fff;
    padding: 40px;
}

.featured h2 {
    margin-bottom: 24px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}


@media (max-width: 768px) {
  .container {
    padding: 0 10px; /* reduce side padding on small screens */
  }
}
