html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding-top:100px;
  display: flex;
  flex-direction: column;
}
.container {
  width: min(100%, 1500px);
  margin: 0 auto;
  box-sizing: border-box;

  flex: 1; /* pushes footer down */
  display: flex;
  flex-direction: column;

  background: #fff;
}
