html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Satoshi', sans-serif;
  background: #f5f5f5;
  padding-top:100px;
  display: flex;
  flex-direction: column;
}
.container {
  width: min(100%, 1500px);
  margin: 0 auto;
  box-sizing: border-box;

  flex: 1; /* pushes footer down */
  display: flex;
  flex-direction: column;

  background: #fff;
}

.faq-search input {
  padding-top: 20px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* ==========================
   FONTS
========================== */
@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi-Regular.otf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi-Bold.otf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/Satoshi-BlackItalic.otf') format('woff2');
    font-weight: 900;
    font-style: italic;
}

